absl-py==1.4.0
accelerate==0.27.2
addict==2.4.0
aiohttp==3.8.4
aiosignal==1.3.1
albumentations==1.3.0
aniso8601==9.0.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
anyio==4.2.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
asttokens==2.2.1
async-lru==2.0.4
async-timeout==4.0.2
attrdict==2.0.1
attrs==22.2.0
autofaiss==2.15.6
Automat==22.10.0
av==11.0.0
Babel==2.14.0
backcall==0.2.0
bcrypt==4.1.2
beautifulsoup4==4.12.3
black==23.3.0
bleach==6.1.0
blinker==1.6.2
boto3==1.34.48
botocore==1.34.48
braceexpand==0.1.7
buildtools==1.0.6
cachetools==5.3.0
causal-conv1d==1.1.1
certifi==2023.5.7
cffi==1.16.0
cfgv==3.4.0
chardet==5.2.0
charset-normalizer==3.1.0
click==8.1.3
clip==1.0
clip-anytorch==2.5.2
cloudpickle==2.2.1
cmake==3.28.1
colossalai==0.3.5
comm==0.1.3
compressai==1.2.6
constantly==23.10.4
contexttimer==0.3.3
contourpy==1.0.7
cryptography==42.0.5
cycler==0.11.0
Cython==3.0.8
dataclasses==0.6
datasets==2.18.0
dbus-python==1.2.16
deap==1.4.1
debugpy==1.6.7
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
detectron2==0.6
diffusers==0.24.0
dill==0.3.8
distlib==0.3.8
distro==1.4.0
docker-pycreds==0.4.0
docopt==0.6.2
einops==0.3.0
embedding-reader==1.5.0
et-xmlfile==1.1.0
exceptiongroup==1.2.0
executing==1.2.0
ExifRead-nocycle==3.0.1
fabric==3.2.2
factor-analyzer==0.5.1
faiss-cpu==1.7.4
fastjsonschema==2.19.1
filelock==3.11.0
fire==0.4.0
Flask==2.3.2
Flask-Cors==3.0.10
Flask-RESTful==0.3.9
fonttools==4.39.3
frozenlist==1.3.3
fsspec==2023.4.0
ftfy==6.1.1
furl==2.1.3
fvcore==0.1.5.post20221221
gitdb==4.0.10
GitPython==3.1.31
google==3.0.0
google-auth==2.17.3
google-auth-oauthlib==1.0.0
graphviz==0.20.3
greenlet==3.0.3
grpcio==1.53.0
h11==0.14.0
h5py==3.8.0
httpcore==1.0.2
httpx==0.26.0
huggingface==0.0.1
huggingface-hub==0.21.4
hydra-core==1.3.2
hyperlink==21.0.0
identify==2.5.35
idna==3.4
imageio==2.27.0
importlib-metadata==6.3.0
importlib-resources==5.12.0
incremental==22.10.0
iniconfig==2.0.0
invoke==2.2.0
iopath==0.1.9
ipykernel==6.22.0
ipython==8.9.0
ipywidgets==8.0.6
itsdangerous==2.1.2
jedi==0.18.2
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.2.0
json-tricks==3.16.1
json5==0.9.14
jsonschema==4.21.1
jsonschema-specifications==2023.12.1
jupyter==1.0.0
jupyter-client==8.1.0
jupyter-console==6.6.3
jupyter-core==5.3.0
jupyter-events==0.9.0
jupyter-lsp==2.2.2
jupyter-server==2.12.5
jupyter-server-terminals==0.5.2
jupyterlab==4.1.0
jupyterlab-pygments==0.3.0
jupyterlab-server==2.25.2
jupyterlab-widgets==3.0.7
kiwisolver==1.4.4
lazy-loader==0.3
lightning-utilities==0.10.1
lit==17.0.6
llvmlite==0.41.1
mahotas==1.4.13
mamba-ssm==1.1.1
Markdown==3.4.3
markdown-it-py==3.0.0
MarkupSafe==2.1.2
matplotlib==3.6.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mistune==3.0.2
mmcv==1.7.1
mock==5.1.0
monai==1.3.0
mpmath==1.3.0
msgpack==1.0.8
multidict==6.0.4
multilingual-clip==1.0.10
multiprocess==0.70.16
mypy-extensions==1.0.0
nbclient==0.9.0
nbconvert==7.15.0
nbformat==5.9.2
nest-asyncio==1.5.6
networkx==3.1
nibabel==5.2.0
nifty==1.6.3
ninja==1.11.1.1
nltk==3.8.1
nodeenv==1.8.0
nose==1.3.7
notebook==7.0.7
notebook-shim==0.2.3
numba==0.58.1
numdifftools==0.9.41
numpy==1.23.2
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.19.3
nvidia-nvjitlink-cu12==12.4.99
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
omegaconf==2.3.0
open-clip-torch==2.20.0
opencv-python==4.7.0.72
opencv-python-headless==4.7.0.72
openpyxl==3.1.5
orderedmultidict==1.0.1
overrides==7.7.0
packaging==23.1
pandas==1.5.3
pandocfilters==1.5.1
paramiko==3.4.0
parso==0.8.3
pathspec==0.11.1
pathtools==0.1.2
patsy==0.5.6
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.5.0
pkgutil-resolve-name==1.3.10
platformdirs==4.2.0
pluggy==1.3.0
portalocker==2.7.0
pre-commit==3.5.0
prometheus-client==0.16.0
promise==2.3
prompt-toolkit==3.0.38
protobuf==3.20.1
psutil==5.9.4
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==15.0.1
pyarrow-hotfix==0.6
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycocotools==2.0.6
pycparser==2.21
pydantic==2.6.3
pydantic-core==2.16.3
pyDeprecate==0.3.2
pydicom==2.4.4
Pygments==2.15.0
PyGObject==3.36.0
PyNaCl==1.5.0
pyparsing==3.0.9
pytest==7.4.4
python-dateutil==2.8.2
python-json-logger==2.0.7
pytorch-lightning==1.6.5
pytorch-msssim==1.0.0
pytz==2022.6
PyWavelets==1.4.1
PyYAML==6.0
pyzmq==25.0.2
qtconsole==5.5.1
QtPy==2.4.1
qudida==0.0.4
ray==2.9.3
redo==2.0.4
referencing==0.33.0
regex==2023.3.23
reportlab==4.2.2
requests==2.28.2
requests-oauthlib==1.3.1
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.7.1
rpds-py==0.17.1
rsa==4.9
s3transfer==0.10.0
safetensors==0.4.2
scikit-image==0.19.3
scikit-learn==1.2.2
scipy==1.10.1
seaborn==0.13.2
semopy==2.3.11
Send2Trash==1.8.2
sentence-transformers==2.2.2
sentencepiece==0.1.97
sentry-sdk==1.23.1
setproctitle==1.3.2
shap==0.44.1
shortuuid==1.0.11
SimpleITK==2.3.1
simplejson==3.19.2
six==1.16.0
slicer==0.0.7
smmap==5.0.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.25
ssh-import-id==5.10
stack-data==0.6.2
statsmodels==0.14.1
submitit==1.5.1
sympy==1.12
tabulate==0.9.0
tensorboard==2.12.1
tensorboard-data-server==0.7.0
tensorboard-plugin-wit==1.8.1
tensorboardX==2.6.2.2
termcolor==2.2.0
terminado==0.18.0
testify==0.11.3
threadpoolctl==3.1.0
tifffile==2023.3.21
timm==0.9.2
tinycss2==1.2.1
tokenizers==0.15.2
tomli==2.0.1
torch==2.2.1
torch-geometric==2.5.3
torchaudio==2.2.1
torchmetrics==1.3.1
torchvision==0.17.1
tornado==6.2
tqdm==4.65.0
traitlets==5.9.0
transformers==4.38.2
triton==2.2.0
twisted==23.10.0
types-pytz==2022.6.0.1
typing-extensions==4.10.0
tzdata==2023.3
urllib3==1.26.15
urwid==2.1.2
virtualenv==20.25.1
wandb==0.12.21
waterz==0.9.4
wcwidth==0.2.5
webdataset==0.1.103
webencodings==0.5.1
websocket-client==1.7.0
werkzeug==3.0.1
widgetsnbextension==4.0.7
wrapt==1.16.0
xxhash==3.4.1
yacs==0.1.8
yapf==0.32.0
yarl==1.8.2
zipp==3.15.0
zope.interface==6.1
